* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pink-100: #ff57b2;
  --black: #1a1d23;
  --gray-50: #f8f8f8;
  --gray-100: #d7d7d7;
  --gray-300: #bbbbbb;
  --gray-800: #272c36;
}

body {
  color: var(--gray-50);
  background-color: var(--black);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem Inter, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  opacity: 0.1;
  /* Body */

  border: 1px solid #d7d7d7;
}
