.container {
  margin-bottom: 80px;
}

.banner {
  img {
    width: 100%;
    max-height: 500px;

    margin-bottom: 80px;

    object-fit: cover;
    object-position: center 60%;
  }
}

.post {
  margin-bottom: 80px;

  h1 {
    width: 100%;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    letter-spacing: -0.5px;

    /* Heading */

    color: var(--gray-50);
  }

  .info {
    margin-top: 25px;
    margin-bottom: 64px;

    display: flex;
    gap: 24px;

    > div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .contentPost {
    .sectionPost {
      & + .sectionPost {
        margin-top: 60px;
      }

      h2 {
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 3.125rem;
        /* or 50px */

        text-align: justify;

        /* Heading */

        color: var(--gray-50);
        margin-bottom: 50px;
      }

      p {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5rem;
        /* or 50px */

        text-align: justify;

        color: var(--gray-50);
      }

      p + p {
        margin-top: 20px;
      }

      ul {
        margin-top: 20px;

        list-style-position: inside;
        margin-left: 30px;
        li {
          margin-bottom: 10px;

          font-family: Inter;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.5rem;
          /* or 50px */

          color: var(--gray-50);
        }
      }

      a {
        color: var(--pink-100);

        &:hover {
          text-decoration: underline;
        }
      }

      pre {
        background-color: var(--gray-800);
        border-radius: 5px;
        margin: 20px 0;
        padding: 20px;
      }

      div[data-oembed] {
        margin: 25px 0;

        height: 350px;

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.navigationPosts {
  margin-top: 50px;

  display: flex;
  justify-content: space-between;
  gap: 24px;

  .previous {
    flex: 1;
    text-align: left;
  }

  .next {
    flex: 1;
    text-align: right;
  }

  a {
    max-width: 400px;

    span {
      display: block;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.5px;
    }

    strong {
      margin-top: 8px;

      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.5px;
      color: var(--pink-100);
    }
  }
}

.comments {
  margin: 80px 0;
}
